#{extends 'main.html' /} 
#{set title:'Arter' /} 

<div class="row">
	<div class="col-sm-7 col-md-7">
			<table class="table table-hover">
			<thead>
				<tr>
					<th>&{'quotations.nameOfSpecies'}</th>
					<th>Prishistorik (senast först)</th>
				</tr>
			</thead>
			<tbody>
			#{paginate.list items:paginator, as:'fish'}
				<tr>
					<td>${fish.name}</td>
					<td><a href="/prices/getDataForSpecies/${fish.id}">Historisk prisdata</a>
					</td>
				</tr>
			#{/paginate.list}
			</tbody>
		</table>
		#{paginate.controls items:paginator /}
	</div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50642289-1', 'fiskpris.se');
  ga('send', 'pageview');

</script>