#{extends 'main.html' /} 
#{set title:'Prisnoteringar per art'/}
#{if paginator != null && paginator.size() != 0}
<div class="row">
	<div class="col-sm-5 col-md-5">
		<h3>${fish.name}</h3>
	</div>
	#{form @Prices.findQuotationsByFishName()} 
	<div class="col-sm-2 col-md-2">
		<div id="remote">
  			<input name="fishName" id="fishName" class="typeahead" type="text" placeholder="Sök art">
		</div>
	</div>
	#{/form}
	
</div>
<div class="row">
	<div class="col-sm-7 col-md-7">
			<table class="table table-hover">
			<thead>
				<tr>
					<th>Datum</th>
					<th>Snittpris</th>
					<th>Högsta notering</th>
					<th>Antal lådor</th>
					<th>Antal kilo</th>
				</tr>
			</thead>
			<tbody>
			#{paginate.list items:paginator, as:'quotation'}
				<tr>
					<td>${quotation.quotationDate.format('yyyy-MM-dd')}</td>
					<td>${quotation.avgPrice}</td>
					<td>${quotation.maxPrice}</td>
					<td>${quotation.boxes}</td>
					<td>${quotation.kilos}</td>
				</tr>
			#{/paginate.list}
			</tbody>
		</table>
		#{paginate.controls items:paginator /}
	</div>
</div>
#{/if}
#{else}
<div class="row-fluid">
	<div class="span7">
		<h3>Inga prisnoteringar finns för ${fish.name}</h3>
	</div>
</div>
#{/else}
<script>

	 
	var species = new Bloodhound({
  		datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
  		queryTokenizer: Bloodhound.tokenizers.whitespace,
  		prefetch: {
  			url: '/species/listJson',
  			filter: function(list){
  				return $.map(list, function(species){
  					return { name : species };
  				});
  			}
  		}
	});
	
	species.initialize();
	
	var typeahead = $('.typeahead');
	 
	$('#remote .typeahead').typeahead(null, {
	  name: 'species',
	  displayKey: 'name',
	  source: species.ttAdapter()
	});
	
	var numSelectedHandler = function (eventObject, suggestionObject, suggestionDataset) {
    	document.forms[0].submit();
	};

	typeahead.on('typeahead:selected', numSelectedHandler);

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50642289-1', 'fiskpris.se');
  ga('send', 'pageview');

</script>