#{extends 'main.html' /} 
#{set title:'Priser' /}
#{if paginator != null && paginator.size() != 0}



<style>
input[type=text] {
	width: 100%;
	box-sizing: border-box;
	height: 30px;
}


</style>
<div class="row">
	<div class="col-sm-5 col-md-5">
		<span style="vertical-align: middle"><h3>&{'quotations.header'}</h3></span>
	</div>
	<div class="col-sm-2 col-md-2">
	<span style="vertical-align: middle">
		#{form @Prices.list()} 
		
			<div class="form-group">
                <div class='input-group date' id='datepicker'>
                    <input type='text' id="input-datepicker" class="form-control" value="${dateToFetchString}" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
		 #{/form}
		 </span>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-12">

		<!-- Modal -->

		<div id="myModal" class="modal fade">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		        <h4 id="myModalLabel" class="modal-title">Prisutveckling</h4>
		      </div>
		      <div class="modal-body" id="chartContainer"></div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</div>
</div>

<div class="row">
	<div class="col-sm-7 col-md-7">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th>&{'quotations.nameOfSpecies'}</th>
					<th>&{'quotations.boxes'}</th>
					<th>&{'quotations.kilos'}</th>
					<th>&{'quotations.averagePrice'}</th>
					<th>&{'quotations.maxPrice'}</th>
				</tr>
			</thead>
			<tbody>
			#{paginate.list items:paginator, as:'quotation'}
			<tr>
				<td><button type="button" class="btn btn-default" onclick="plotChart('${quotation.species.id}','${quotation.species.name}');">
						<i class="glyphicon glyphicon-stats"></i>
					</button></td>
				<td><a href="/prices/getDataForSpecies/${quotation.species.id}">${quotation.species.name}</a></td>
				<td>${quotation.boxes}</td>
				<td>${quotation.kilos}</td>
				<td>${quotation.avgPrice}</td>
				<td>${quotation.maxPrice}</td>
			</tr>
			#{/paginate.list}		
			</tbody>
		</table>
		#{paginate.controls items:paginator /}
	</div>
</div>

#{/if} #{else}
<div class="row">
	<div class="col-sm-9 col-md-9">
		<div  class="alert alert-warning alert-dismissable">
			<button id="myAlert" class="close" data-dismiss="alert">
				<i class="glyphicon glyphicon-remove"></i>
			</button>
			&{'quotations.noneFound'} ${dateToFetchString}
		</div>
	</div>
</div>

#{/else}


<script type="text/javascript">
	function plotChart(fishId, fishname) {
		$('#myModal').modal({show:true});
		$('#myModalLabel').text('Prisutveckling ' + fishname);

		var margin = {
			top : 30,
			right : 40,
			bottom : 100,
			left : 50
		}, width = 500 - margin.left - margin.right, height = 240 - margin.top
				- margin.bottom;
		var parseDate = d3.time.format("%Y-%m-%d").parse;
		var formatTime = d3.time.format("%e %B");
		var x = d3.time.scale().range([ 0, width ]);
		var y = d3.scale.linear().range([ height, 0 ]);
		var xAxis = d3.svg.axis().scale(x).orient("bottom").ticks(5)
				.tickFormat(d3.time.format("%Y-%m-%d"));
		var yAxis = d3.svg.axis().scale(y).orient("left").ticks(10);
		var avgamountline = d3.svg.line().x(function(d) {
			return x(d.date);
		}).y(function(d) {
			return y(d.avgPrice.money.amount);
		});

		var boxesline = d3.svg.line().x(function(d) {
			return x(d.date);
		}).y(function(d) {
			return y(d.boxes);
		});
		var svg = d3.select("#chartContainer").append("svg:svg").attr("width",
				width + margin.left + margin.right).attr("height",
				height + margin.top + margin.bottom).append("g").attr(
				"transform",
				"translate(" + margin.left + "," + margin.top + ")");

		var color = d3.scale.category10();

		// Get the data
		d3.json("/prices/getLastMonthDataForSpecies/" + fishId, function(error, data) {
			data.forEach(function(d) {
				d.date = parseDate(d.quotationDate);
				//d.amount = +d.avgPrice.money.amount;
				d.avgPrice.money.amount = +d.avgPrice.money.amount;
			});
			// Scale the range of the data
			x.domain(d3.extent(data, function(d) {
				return d.date;
			}));

			y.domain([ 0, d3.max(data, function(d) {
				return Math.max(d.avgPrice.money.amount, d.boxes);
			}) ]);

			svg.append("path") // Add the avgamountline path.
			.attr("class", "line").style("stroke", "steelblue").attr("d",
					avgamountline(data));

			svg.append("path") // Add the boxesline path.
			.attr("class", "line").style("stroke", "mediumseagreen").attr("d",
					boxesline(data));

			var div = d3.select("body").append("div").attr("class", "tooltip")
					.style("opacity", 0);

			svg.selectAll("dot").data(data).enter().append("circle").attr("r",
					3.5).attr("cx", function(d) {
				return x(d.date);
			}).attr("cy", function(d) {
				return y(d.avgPrice.money.amount);
			}).on(
					"mouseover",
					function(d) { // Tooltip
						div.transition().duration(200).style("opacity", .9);
						div.html(formatTime(d.date) + "<br/>" + d.avgPrice.money.amount + " kr")
								.style("left", (d3.event.pageX) + "px").style(
										"top", (d3.event.pageY - 28) + "px");
					}).on("mouseout", function(d) {
				div.transition().duration(500).style("opacity", 0);
			});

			svg.selectAll("dot").data(data).enter().append("circle").attr("r",
					3.5).attr("cx", function(d) {
				return x(d.date);
			}).attr("cy", function(d) {
				return y(d.boxes);
			}).on(
					"mouseover",
					function(d) { // Tooltip
						div.transition().duration(200).style("opacity", .9);
						div.html(formatTime(d.date) + "<br/>" + d.boxes + (d.boxes>1 ? " l&aring;dor": " l&aring;da")).style(
								"left", (d3.event.pageX) + "px").style("top",
								(d3.event.pageY - 28) + "px");
					}).on("mouseout", function(d) {
				div.transition().duration(500).style("opacity", 0);
			});

			svg.append("g") // Add the X Axis
			.attr("class", "x axis").attr("transform",
					"translate(0," + height + ")").call(xAxis)
					.selectAll("text").style("text-anchor", "end").attr("dx",
							"-.5em").attr("dy", ".10em").attr("transform",
							function(d) {
								return "rotate(-65)"
							});
			svg.append("g") // Add the Y Axis
			.attr("class", "y axis").call(yAxis);

			// add legend   
			var legend = svg.append("g").attr("class", "legend").attr("height",
					10).attr("width", 10).attr('transform',
					'translate(-30,-30)')

			var colors = [ [ "&{'quotations.averagePrice'}", "steelblue" ],
					[ "&{'quotations.boxes'}", "mediumseagreen" ] ];

			legend.selectAll('rect').data(colors).enter().append("rect").attr(
					"x", width - 35).attr("y", function(d, i) {
				return i * 20;
			}).attr("width", 10).attr("height", 10).style("fill", function(d) {
				var color = d[1];
				;
				return color;
			})

			legend.selectAll('text').data(colors).enter().append("text").attr(
					"x", width - 20).attr("y", function(d, i) {
				return i * 20 + 9;
			}).text(function(d) {
				var text = d[0];
				return text;
			});
		});

	}

	$(document).ready(function() {
	
		$('#datepicker').datetimepicker({
					format: 'YYYY-MM-DD',
                    language: 'sv',
                    weekStart: 1,
                    daysOfWeekDisabled: [ 0, 6 ],
                    pickTime: false
                }).on('dp.change', function(ev) {
                	//var d = ev.date;
					var d = $('#input-datepicker').val();
					window.location.href = '/prices/list/' + d.toString('yyyy-MM-dd');
                });            

	});

	var changeDateDay = function(_direction) {
		var d = Date.parse($('#input-datepicker').val());
		var tomorrow = new Date();
		if (_direction)
			d.add(1).days()
		else
			d.add(-1).days();
		window.location.href = '/list/' + d.toString('yyyy-MM-dd');

	}

	$('#myModal').on('hidden.bs.modal', function() {
		// Remove chart
		d3.select("svg").remove();
	})
	
	$('#myAlert').click(function () {
		window.location.href = '/prices/list'
	})
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50642289-1', 'fiskpris.se');
  ga('send', 'pageview');

</script>