#{extends 'main.html' /} 
#{set title:'Om fiskpris.se' /}
      <div class="row">
      	<div class="col-lg-7">
        <h3>EU:s sorteringsregler</h3>
        <p>De flesta fiskar delas in i olika sorteringar baserade på storlek. "Torsk 1" är tex den största sorteringen på Torsk. Detta framgår av tabellen nedan.</p>
      	</div>
     </div>

<div class="row">
	<div class="col-sm-7 col-md-7">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Fiskart</th>
					<th>Storlek (kg)</th>
				</tr>
			</thead>
			<tbody>
      <tr>
        <td valign="top">BERGTUNGA 1</td>
        <td valign="top">0,6-</td>
      </tr>
      <tr>
        <td valign="top">BERGTUNGA 2</td>
        <td valign="top">0,35-0,6</td>
      </tr>
      <tr>
        <td valign="top">BERGTUNGA 3</td>
        <td valign="top">0,18-0,35</td>
      </tr>
      <tr>
        <td valign="top">BLEKA 1</td>
        <td valign="top">5,0-</td>
      </tr>
      <tr>
        <td valign="top">BLEKA 2</td>
        <td valign="top">3,0-5,0</td>
      </tr>
      <tr>
        <td valign="top">BLEKA 3</td>
        <td valign="top">1,5-3,0</td>
      </tr>
      <tr>
        <td valign="top">BLEKA 4</td>
        <td valign="top">0,3-1,5</td>
      </tr>
      <tr>
        <td valign="top">GRÅSEJ 1</td>
        <td valign="top">5,0-</td>
      </tr>
      <tr>
        <td valign="top">GRÅSEJ 2</td>
        <td valign="top">3,0-5,0</td>
      </tr>
      <tr>
        <td valign="top">GRÅSEJ 3</td>
        <td valign="top">1,5-3,0</td>
      </tr>
      <tr>
        <td valign="top">GRÅSEJ 4</td>
        <td valign="top">0,3-1,5</td>
      </tr>
      <tr>
        <td valign="top">HAVSKATT 1</td>
        <td valign="top">2,0-</td>
      </tr>
      <tr>
        <td valign="top">HAVSKATT 2</td>
        <td valign="top">1,0-2,0</td>
      </tr>
      <tr>
        <td valign="top">KOLJA 1</td>
        <td valign="top">1,0</td>
      </tr>
      <tr>
        <td valign="top">KOLJA 2</td>
        <td valign="top">0,57-1,0</td>
      </tr>
      <tr>
        <td valign="top">KOLJA 3</td>
        <td valign="top">0,37-0,57</td>
      </tr>
      <tr>
        <td valign="top">KOLJA 4</td>
        <td valign="top">0,17-0,37</td>
      </tr>
      <tr>
        <td valign="top">KUMMEL 1</td>
        <td valign="top">2,5-</td>
      </tr>
      <tr>
        <td valign="top">KUMMEL 2</td>
        <td valign="top">1,2-2,5</td>
      </tr>
      <tr>
        <td valign="top">KUMMEL 3</td>
        <td valign="top">0,6-1,2</td>
      </tr>
      <tr>
        <td valign="top">KUMMEL 4</td>
        <td valign="top">0,28-0,6</td>
      </tr>
      <tr>
        <td valign="top">KUMMEL 5</td>
        <td valign="top">0,2-0,28</td>
      </tr>
      <tr>
        <td valign="top">LÅNGA 1</td>
        <td valign="top">5,0-</td>
      </tr>
      <tr>
        <td valign="top">LÅNGA 2</td>
        <td valign="top">3,0-5,0</td>
      </tr>
      <tr>
        <td valign="top">LÅNGA 3</td>
        <td valign="top">1,2-3,0</td>
      </tr>
      <tr>
        <td valign="top">MAKRILL 1</td>
        <td valign="top">0,5-</td>
      </tr>
      <tr>
        <td valign="top">MAKRILL 2</td>
        <td valign="top">0,2-0,5</td>
      </tr>
      <tr>
        <td valign="top">MAKRILL 3</td>
        <td valign="top">0,1-0,2</td>
      </tr>
      <tr>
        <td valign="top">PIGGHAJ 1</td>
        <td valign="top">2,2-</td>
      </tr>
      <tr>
        <td valign="top">PIGGHAJ 2</td>
        <td valign="top">1,0-2,2</td>
      </tr>
      <tr>
        <td valign="top">PIGGHAJ 3</td>
        <td valign="top">0,5-1,0</td>
      </tr>
      <tr>
        <td valign="top">RÖDSPÄTTA 1</td>
        <td valign="top">0,6-</td>
      </tr>
      <tr>
        <td valign="top">RÖDSPÄTTA 2</td>
        <td valign="top">0,4-0,6</td>
      </tr>
      <tr>
        <td valign="top">RÖDSPÄTTA 3</td>
        <td valign="top">0,3-0,4</td>
      </tr>
      <tr>
        <td valign="top">RÖDSPÄTTA 4</td>
        <td valign="top">0,15-0,3</td>
      </tr>
      <tr>
        <td valign="top">RÖDTUNGA 1</td>
        <td valign="top">0,4-</td>
      </tr>
      <tr>
        <td valign="top">RÖDTUNGA 2</td>
        <td valign="top">0,3-0,4</td>
      </tr>
      <tr>
        <td valign="top">RÖDTUNGA 3</td>
        <td valign="top">0,2-0,3</td>
      </tr>
      <tr>
        <td valign="top">SANDSKÄDDA 1</td>
        <td valign="top">0,25-</td>
      </tr>
      <tr>
        <td valign="top">SANDSKÄDDA 2</td>
        <td valign="top">0,13-0,25</td>
      </tr>
      <tr>
        <td valign="top">SKRUBBA 1</td>
        <td valign="top">0,3-</td>
      </tr>
      <tr>
        <td valign="top">SKRUBBA 2</td>
        <td valign="top">0,2-0,3</td>
      </tr>
      <tr>
        <td valign="top">TORSK 1</td>
        <td valign="top">7,0-</td>
      </tr>
      <tr>
        <td valign="top">TORSK 2</td>
        <td valign="top">4,0-7,0</td>
      </tr>
      <tr>
        <td valign="top">TORSK 3</td>
        <td valign="top">2,0-4,0</td>
      </tr>
      <tr>
        <td valign="top">TORSK 4</td>
        <td valign="top">1,0-2,0</td>
      </tr>
      <tr>
        <td valign="top">TORSK 5</td>
        <td valign="top">0,3-1,0</td>
      </tr>
      <tr>
        <td valign="top">VITLING 1</td>
        <td valign="top">0,5-</td>
      </tr>
      <tr>
        <td valign="top">VITLING 2</td>
        <td valign="top">0,35-0,5</td>
      </tr>
      <tr>
        <td valign="top">VITLING 3</td>
        <td valign="top">0,25-0,35</td>
      </tr>
      <tr>
        <td valign="top">VITLING 4</td>
        <td valign="top">0,11-0,25</td>
      </tr>
      <tr>
        <td valign="top">KOKRÄKA</td>
        <td valign="top">MAX 160</td>
      </tr>
      			</tbody>
		</table>
	</div>
</div>