#{extends 'main.html' /}
#{set title:'All Species' /}
#{if paginator != null && paginator.size() != 0}
<div class="row-fluid">
	<div class="span8">
		<h2>&{'quotations.header'} ${maxDateString}</h2>
	</div>
	<div class="span8">
		<table class="table table-striped">
	    	<thead>
	    		<tr>
	    			<th>&{'quotations.nameOfSpecies'}</th>
	    			<th>&{'quotations.boxes'}</th>
	    			<th>&{'quotations.kilos'}</th>
	    			<th>&{'quotations.averagePrice'}</th>
	    			<th>&{'quotations.maxPrice'}</th>
	    		</tr>
	    	</thead>
	    	<tbody>
	    		#{paginate.list items:paginator, as:'quotation'} 
			    <tr>
				    <td>${quotation.species.name}</td>
				    <td>${quotation.boxes}</td>
				    <td>${quotation.kilos}</td>
				    <td>${quotation.avgPrice}</td>
				    <td>${quotation.maxPrice}</td>
			    </tr>
			     #{/paginate.list}
	    	</tbody>
	    </table>
	     #{paginate.controls items:paginator /} 
	</div>
</div>		
#{/if}
#{else}
<div class="row-fluid">
	<div class="span3">
		<div class="alert">
			<button class="close" data-dismiss="alert">×</button>
			Hittade inga prisnoteringar.
		</div>
	</div>
</div>

#{/else}